<main class="main">
  <div class="content px-6">
    <!-- src/app/app.component.html -->
    <div
      class="h-full w-full bg-gray-0 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 py-12 border border-white "
    >
    <div class="grid grid-cols-1 gap-4 text-center">
      <div class="reem-kufi-fun-800 text-4xl "><h1>الصلاة على النبي</h1></div>
      <div class="flex justify-center">
        <img src="/assets/Muhammad2.svg" alt="">
      </div>
      <div class=" my-2"><h2><span class="text-5xl"> {{ counter }}</span></h2>  <span class="hidden">مرة </span></div>
      <div class=" ">
        <button
          type="button"
          (click)="increment()"
          class="inline-block reem-kufi-fun-subheading rounded bg-green-500 px-8 py-4 text-2xl font-medium uppercase leading-normal text-white shadow-primary-3 transition duration-150 ease-in-out hover:bg-primary-accent-300 hover:shadow-primary-2 focus:bg-primary-accent-300 focus:shadow-primary-2 focus:outline-none focus:ring-0 active:bg-primary-600 active:shadow-primary-2 motion-reduce:transition-none dark:shadow-black/30 dark:hover:shadow-dark-strong dark:focus:shadow-dark-strong dark:active:shadow-dark-strong">
          اللهم صل على سيدنا  <br>محمد  <br>وعلى آله وصحبه وسلم
        </button>
      </div>
      <div class="underline underline-offset-1"><button (click)="reset()">إعادة العد</button></div>
    </div>

    </div>
  </div>
</main>
<router-outlet />
