/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400..700&family=Zain:wght@200;300;400;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-full min-h-screen  bg-stone-900 ;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

.reem-kufi-fun-800
                {
                  font-family: "Reem Kufi Fun", sans-serif;
                  font-optical-sizing: auto;
                  font-weight: 800;
                  font-style: normal;
                }
@mixin reem-kufi-fun($uniquifier, $weight: 400) {
  .reem-kufi-fun-#{$uniquifier} {
    font-family: "Reem Kufi Fun", sans-serif;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: normal;
  }
}

// Usage example:
@include reem-kufi-fun('heading', 700);
@include reem-kufi-fun('subheading', 500);

.zain-extralight {
  font-family: "Zain", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.zain-light {
  font-family: "Zain", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.zain-regular {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.zain-bold {
  font-family: "Zain", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.zain-extrabold {
  font-family: "Zain", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.zain-black {
  font-family: "Zain", sans-serif;
  font-weight: 900;
  font-style: normal;
}
